<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Timer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='bundle.bundled.js')}}"></script>
</head>
<body>
    <div class="container text-center">
        <h1 id="timer-header" class="my-4">Timer</h1>
        <div class="time-picker mb-4 justify-content-center">
            <div>
                <label for="hours">Hour(s)</label>
                <select id="hours" class="form-control custom-select">
                    {% for hour in hours %}
                    <option value="{{ hour }}">{{ hour }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="minutes">Minute(s)</label>
                <select id="minutes" class="form-control custom-select">
                    {% for minute in minutes %}
                    <option value="{{ minute }}">{{ minute }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="seconds">Second(s)</label>
                <select id="seconds" class="form-control custom-select">
                    {% for second in seconds %}
                    <option value="{{ second }}">{{ second }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="timer" class="display-4">00:00:00</div>
        <div class="mt-4">
            <button id="startTimer" class="btn">Start Timer</button>
            <button id="endTimer" class="btn">End Timer</button>
            <button id="playAudio" class="btn">Play Sound</button>
        </div>
    </div>
    <audio id="alertSound" src="{{ url_for('static', filename='alarm-clock-loop-90916.mp3') }}" preload="auto"></audio>

</body>
</html>
